.contactsSection{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: left;
    gap: 100px;
    align-items: flex-start; /* Опционально, выравнивание элементов по верхнему краю */
}
.contactsSection .googleMap{
    flex: 1 1 100%;
    height: 750px;
}

.contactsSection .contactsDetails{
    display: flex;
    flex: 0 0 550px;
    height: auto;
    flex-direction: column;
    align-items: flex-start;
}

.contactsDetails .mainInfo{
    width: 100%;
    height: 185px;
}
.mainInfo h2{
    color: var(--text-color, #FBFBFB);
    font-family: Ubuntu, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.mainInfo .phonesAndAddress{
    width: 100%;
    height: 103px;
    flex-shrink: 0;
}

.phonesAndAddress p{
    font-family: Ubuntu, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 10px;
}
.contactsDetails .directions{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 36px;
}
.contactsDetails .directions h3{
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.contactsDetails .directions h4{
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.contactsDetails .directions  p{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%; /* 21.6px */
}

@media (max-width: 1280px) { /* Вы можете адаптировать значение 1200px по вашему усмотрению */
    .contactsSection {
        flex-direction: column;
        align-items: center;
    }

    .contactsSection .googleMap {
        margin-top: 50px;
        width: 100%; /* Указывает, что карта должна занимать всю ширину контейнера */
        order: 2; /* Помещает карту внизу */
    }

    .contactsSection .contactsDetails {
        width: 100%; /* Указывает, что детали контакта должны занимать всю ширину контейнера */
        order: 1; /* Помещает детали контакта наверх */
    }
}
